{% extends "base.html" %}
{% block content %}
    <h1>Добавить статью</h1>
    <form method="POST">
        <label for="name">Название:</label>
        <input type="text" id="name" name="name" required>
        <label for="tag">Тег:</label>
        <select id="tag" name="tag" required>
            {% for tag in allowed_tags %}
                <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
        </select>
        <label for="text">Текст:</label>
        <textarea id="text" name="text" rows="4" required></textarea> <!-- rows="4" для начальной высоты -->
        <label>
            <input type="checkbox" name="registered"> Только для зарегистрированных
        </label>
        <button type="submit" class="button">Добавить статью</button>
    </form>

    <script>
        // Автоматическое изменение высоты textarea
        const textarea = document.getElementById('text');
        textarea.addEventListener('input', function () {
            this.style.height = 'auto'; // Сбрасываем высоту
            this.style.height = (this.scrollHeight) + 'px'; // Устанавливаем новую высоту
        });
    </script>
{% endblock %}